<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Empresa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/colores']" routerLinkActive="router-link-active" >Colores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="router-link-active" >Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/empleado']" routerLinkActive="router-link-active" >Empleados</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/plantillas']" routerLinkActive="router-link-active" >Plantillas</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="clientes">Clientes</a>
        </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <clientes></clientes> 

<colores></colores>

<videos></videos> -->

<router-outlet></router-outlet>